<header>
    <nav class="navbar navbar-expand-lg fixed-top bg-body-tertiary">
        <div class="container-fluid">
            <span class="navbar-brand mb-0 h1 p-3"><a href="https://malnushi.com/index.html">MAL NUSHI</a></span>
            <button class="navbar-toggler border-0" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
                <button class="btn-close" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-label="Close"></button>
                <div class="navbar-nav">
                    <a href="https://malnushi.com/pages/about.html" class="brutal-btn">ABOUT</a>
                    <a href="https://kodikion.vercel.app" class="brutal-btn">BLOG</a>
                    <a href="https://malnushi.com/pages/projects/projects.html" class="brutal-btn">PROJECTS</a>
                    <a href="https://malnushi.com/pages/hobbies.html" class="brutal-btn">HOBBIES</a>
                </div>
            </div>
        </div>
    </nav>
</header>