body {
    font-family: monospace;
}

main {
    padding-top: 100px;
    padding-bottom: 25px;
}

a {
    text-align: center;
    text-decoration: none;
}

.img-fluid {
    width: 400px;
    border: 2px solid black;
    margin: 20px;
}

.brutal-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    border: 2px solid black;
    padding: 10px 35px;
    margin: 10px;
    font-weight: bold;
    font-size: 20px;
    position: relative;
    color: black;
    width: 150px;
    height: 50px;
}

.brutal-btn:after {
    content: '';
    position: absolute;
    background-color: black;
    top: 8px;
    left: 8px;
    right: -8px;
    bottom: -8px;
    z-index: -1;
}

.brutal-btn:hover,
.brtual-btn:active {
    color: white;
    background-color: black;
    transition: all 0.3s ease;
}

.brutal-btn:hover:after,
.brtual-btn:hover:active {
    background-color: white;
    border: 2px solid black;
    transition: all 0.3s ease;
}

nav {
    border-bottom: 2px solid black;
}

footer {
    border-top: 2px solid black;
}

/* Ensures that the navigation bar takes up the full screen when toggled */
@media (max-width: 991px) {
    .navbar-collapse {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: white;
        /* Adjust this color to fit your design */
        z-index: 9999;
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        /* Vertically center the content */
        align-items: center;
        /* Horizontally center the content */
        visibility: hidden;
        opacity: 0;
        transition: visibility 0s, opacity 0.5s linear, transform 0.5s ease;
        transform: translateY(-100%);
        width: 100%;
        /* Ensure it spans the full width */
        height: 100vh;
        /* Ensure it spans the full height of the viewport */
        overflow-y: auto;
        /* Allows scrolling if content is taller than the screen */
    }

    .navbar-collapse.collapsing {
        transition: none;
    }

    .navbar-collapse.show {
        visibility: visible;
        opacity: 1;
        transform: translateY(0);
    }

    .navbar-nav {
        display: flex;
        flex-direction: column;
        /* Stack the links vertically */
        align-items: center;
        /* Center links horizontally */
        width: 100%;
        /* Take full width of the container */
        margin: 200px;
        /* Reset any default margin */
        padding: 0;
        /* Reset any default padding */
    }

    .navbar-nav .nav-link {
        padding: 15px;
        /* Increased padding for better touch targets */
        text-align: center;
        /* Ensure text is centered within each link */
        font-size: 20px;
        width: 100%;
        /* Each link spans the full width */
        display: flex;
        justify-content: center;
        /* Center text horizontally for each link */
        align-items: center;
        /* Center text vertically for each link */
    }

    .btn-close {
        position: absolute;
        right: 1rem;
        top: 1rem;
        z-index: 10001;
        border: none;
        background-color: transparent;
    }

    .about-links {
        display: flex;
        flex-direction: column;
    }

    .writing-unordered-list {
        text-align: left;
    }

    .writing-list {
        padding: 10px;
    }
}

/* Hide the close button on screens wider than 991px */
@media (min-width: 992px) {
    .btn-close {
        display: none;
    }
}