body, html {
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-padding-start: 0;
    -webkit-padding-end: 0;
}

body {
    -webkit-text-size-adjust: none;
    font-family: monospace;
    color: black;
    background-color: #FFF9ED;
    font-size: 30px;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 10px;
    text-align: center;;
}

.nav_container a {
    text-decoration: none;
    color: gray;
    transition: color 0.3s ease-in-out;
}

.nav_container a:hover {
    color: blue;
}

.main_content a {
    text-decoration: none;
    color: gray;
    transition: color 0.3s ease-in-out;
}

.main_content a:hover {
    color: blue;
}

.header_logo {
    padding: 0;
    margin-bottom: 5px;
}

.header_subheader {
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 35px;
    color: rgb(62, 0, 0);
}

.main_header {
    font-size: 35px;
}

.return_home {
    margin-top: 5px;
    font-size: 15px;
}

.main_content {
    font-size: 15px;
}