body, html {
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-padding-start: 0;
    -webkit-padding-end: 0;
    -webkit-text-size-adjust: none;
    -webkit-tap-highlight-color: transparent;
}

body {
    font-family: monospace;
    color: black;
    background-color: #FFF9ED;
    font-size: 30px;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
}

a {
    text-decoration: none;
    color: gray;
    transition: color 0.3s ease-in-out;
}

a:hover {
    color: blue;
}

.header_logo {
    padding: 0;
    margin-bottom: 5px;
}

.header_subheader {
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 35px;
    color: rgb(62, 0, 0);
}

.main_header {
    font-size: 35px;
}

.return_home {
    margin-top: 5px;
    font-size: 15px;
}

.main_content {
    font-size: 15px;
}

.about_me_photo img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 250px;
}

.about_body {
    font-size: 15px;
    padding: 0px 20px;
}

.about_body h3 {
    text-align: center;
}

.about_body_paragraphs {
    text-align: left;
}

/* footer {
    flex-shrink: 0;
    position: absolute;
    font-size: 10px;
    bottom: 0;
    left: 0;
    right: 0;
} */

